<div class="banner d-flex justify-content-center align-items-center">
  <h1>My lists</h1>
</div>
<div class="container">
  <div class="m-3 d-flex justify-content-between">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card" style="width: 18rem;">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key %>
          <% else %>
            <%= image_tag "cinema.jpg" %>
          <% end %>
          <div class="card-body">
            <p class="card-text"><%= list.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
